@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Mollie Glaston';
    src: url('/fonts/mollie-glaston.ttf') format('truetype'),
        url('/fonts/mollie-glaston.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}